body {
    font-family: "Helvetica", sans-serif;
    padding-left: 10px;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 800px;
    overflow: scroll;
}

canvas {
    border: 2px solid black
}

.parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}