body {
    font-family: "Helvetica", sans-serif;
    padding: 4px;
    padding-left: 10px;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 800px;
    overflow: scroll;
}

canvas {
    border: 2px solid black
}