body {
    font-family: "Helvetica", sans-serif;
    padding-left: 30px;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 800px;
    overflow: scroll;
}

button {
    all: unset;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 4px;
    transition: 0.1s linear;
}

button:active {
    background-color: rgb(214, 214, 214);
}

.parameters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}